@import 'themes';
@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '../node_modules/primeng/resources/themes/bootstrap4-dark-blue/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';


.mat-app-background{
    min-height: 100vh;
}
h1{
    color: #fff;
    font-size: 63px;
    line-height: 1.2;
    text-transform: uppercase;
}
