div{color:white;}
h1{
    color: #fff;
    font-size: 63px;
    font-size: 3.998rem;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
}
.jumbotron {
    display: table;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://78884ca60822a34fb0e6-082b8fd5551e97bc65e327988b444396.ssl.cf3.rackcdn.com/up/2019/03/100act-1553101162-1553101162.jpg');
    background-position: center top;
    color: white;
  }