<div class="jumbotron">
    <div class="container mt-5">
        <div class="col-sm-9 col-md-10 col-lg-8">
            <h1>WELCOME TO JUDO TOURNAMENT PORTAL!</h1>
            <p class="lead">A tool to make competing more fun.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Get started</a>
        </div>
    </div>
    <div class="mt-4 mb-2"></div>
</div>
<div class="container-fluid">
    <div class="card-group text-center">
        <div class="card bg-transparent border-0">
            <div class="card-body">
                <mat-icon>event</mat-icon>
                <h2 class="card-title">Organize</h2>
                <p class="card-text">Create, manage and promote competitions, get in touch with other organizers.</p>
            </div>
        </div>
        <div class="card bg-transparent border-0">
            <div class="card-body">
                <mat-icon>person</mat-icon>
                <h2 class="card-title">Coach</h2>
                <p class="card-text"> Gather info about your club and your members, register members for competitions,
                    promote your club.</p>
            </div>
        </div>
        <div class="card bg-transparent border-0">
            <div class="card-body">
                <mat-icon>sports_kabaddi</mat-icon>
                <h2 class="card-title">Compete</h2>
                <p class="card-text">Browse and register for tournaments, keep track of your results, get notifications
                    about upcoming events.</p>
            </div>
        </div>
    </div>