<section class="jumbotron text-center pt-5">
    <div class="container">
      <div *ngIf="!filterDisplayed"><h1 class="jumbotron-heading">Competitors</h1>
        <p class="lead text-muted">List of competitors from all over the world. Explore the best players and filter them</p>
        <p>
          <button mat-flat-button color="primary" class="mx-1" (click)="filterDisplayed = true">Filter users</button>
          <button mat-flat-button class="mx-1">Something</button>
        </p>
      </div>
      <div *ngIf="filterDisplayed">
        <h1 class="jumbotron-heading">Filter users</h1>
        <mat-select-country (onCountrySelected)="onCountrySelected($event)" class="mx-1" appearance="outline"></mat-select-country>
        <mat-form-field  appearance="outline">
          <input name="filtername" [(ngModel)]="filterFirstName" placeholder="User name" class="mx-1" matInput/>
        </mat-form-field>
        <mat-form-field  appearance="outline">
          <input name="filtername" [(ngModel)]="filterLastName" placeholder="User surname" class="mx-1" matInput/>
        </mat-form-field>
        <button mat-flat-button color="primary" class="my-2 mx-1" (click)="searchUsers()">Find</button>

        <button mat-flat-button class="my-2 mx-1" (click)="turnOffFilter()">Turn off filter</button>
      </div>
    </div>
</section>

<div class="album py-5" *ngIf="(mostActiveUsers&& mostSuccessfulUsers && bestRatioUsers)&&filteredUsers.length==0">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <h2>Most successful</h2>
                <mat-card (click)="openDetails(user.id)" *ngFor="let user of mostSuccessfulUsers" class="mb-2 grow">
                    <mat-card-header>
                        <div mat-card-avatar><img
                                [src]="'./assets/svg-country-flags/svg/' + user.userAddress.alpha2Code.toLowerCase() + '.svg'" />
                        </div>
                        <mat-card-title>{{user.firstName+' '+user.lastName}}</mat-card-title>
                        <mat-card-subtitle>{{user.belt}} belt</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Won competitions: {{this.user.numberOfWonCompetitions}}
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4 text-center">
                <h2>Most active</h2>
                <mat-card (click)="openDetails(user.id)" *ngFor="let user of mostActiveUsers" class="mb-2 grow">
                    <mat-card-header>
                        <div mat-card-avatar><img
                                [src]="'./assets/svg-country-flags/svg/' + user.userAddress.alpha2Code.toLowerCase() + '.svg'" />
                        </div>
                        <mat-card-title>{{user.firstName+' '+user.lastName}}</mat-card-title>
                        <mat-card-subtitle>{{user.belt}} belt</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Atempted: {{this.user.numberOfCompetedCompetitions}} competitions
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4 text-center">
                <h2>Best win/loss ratio</h2>
                <mat-card (click)="openDetails(user.id)" *ngFor="let user of bestRatioUsers" class="mb-2 grow">
                    <mat-card-header>
                        <div mat-card-avatar><img
                                [src]="'./assets/svg-country-flags/svg/' + user.userAddress.alpha2Code.toLowerCase() + '.svg'" />
                        </div>
                        <mat-card-title>{{user.firstName+' '+user.lastName}}</mat-card-title>
                        <mat-card-subtitle>{{user.belt}} belt</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Success score: {{this.user.ratioOfWinLoss}}
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

    </div>
</div>

<div class="album py-5" *ngIf="filterDisplayed &&filteredUsers&& filteredUsers.length>0">
  <div class="container">
    <div class="row">
      <div *ngFor="let user of filteredUsers" class="col-md-4">
        <mat-card (click)="openDetails(user.id)" class="mb-2 grow">
          <mat-card-header>
            <div mat-card-avatar><img
              [src]="'./assets/svg-country-flags/svg/' + user.userAddress.alpha2Code.toLowerCase() + '.svg'" />
            </div>
            <mat-card-title>{{user.firstName+' '+user.lastName}}</mat-card-title>
            <mat-card-subtitle>{{user.belt}} belt</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Success score: {{this.user.ratioOfWinLoss}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>
</div>


<div class="text-center">
  <p-progressSpinner *ngIf="!(mostActiveUsers&& mostSuccessfulUsers && bestRatioUsers)"></p-progressSpinner>
</div>
