<div class="container pb-3">
    <main>
        <div class="py-5 text-center">
            <mat-icon class="text-white">add</mat-icon>
            <h2>Create competition</h2>
            <p class="lead">Please provide us with more details.</p>
        </div>

        <div class="row g-5">
            <div class="col">
                <form>
                    <div class="w-100">
                        <mat-form-field appearance="outline" class="w-100 px-1">
                            <mat-label>Name</mat-label>
                            <input name="name" [(ngModel)]="competition.name" matInput placeholder="Competition name"
                                required>
                        </mat-form-field>
                    </div>
                    <div class="w-100">
                        <mat-form-field appearance="outline" class="w-100 px-1">
                            <mat-label>About</mat-label>
                            <input name="description" [(ngModel)]="competition.about" matInput
                                placeholder="Write about competition">
                        </mat-form-field>
                    </div>
                    <h4 class="mb-3">Date</h4>
                    <div class="w-100">
                        <mat-form-field appearance="outline" class="w-100 px-1">
                            <mat-label>Date from</mat-label>
                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="competition.dateOfCompetition"
                                [matDatepickerFilter]="dateAfterTodayFilter" (click)="picker.open()" matInput
                                [matDatepicker]="picker" placeholder="Choose a starting date" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <h4 class="mb-3">Adress</h4>
                    <div class="w-100 ">
                        <mat-select-country class=" px-1 spread-items" appearance="outline" label="Country"
                            [formControl]="countryFormControl" (onCountrySelected)="onCountrySelected($event)">
                        </mat-select-country>
                        <mat-form-field appearance="outline" class=" px-1 spread-items">
                            <mat-label>City</mat-label>
                            <input name="city" [(ngModel)]="competition.competitionAddress.city" matInput
                                placeholder="City" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class=" px-1 spread-items">
                            <mat-label>Postal code</mat-label>
                            <input name="postalCode" [(ngModel)]="competition.competitionAddress.zipCode" matInput
                                placeholder="Postal code" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class=" px-1 spread-items">
                            <mat-label>Street</mat-label>
                            <input name="street" [(ngModel)]="competition.competitionAddress.street" matInput
                                placeholder="Street" required>
                        </mat-form-field>
                    </div>
                    <div class="w-100 px-1 mb-3">
                        <mat-checkbox name="isInternational" [(ngModel)]="competition.isInternational">International
                            competition
                        </mat-checkbox>
                    </div>
                </form>
                <button mat-flat-button color="primary" class="mx-1" (click)="createCompetition()">Save</button>
                <button mat-flat-button class="mx-1" (click)="location.back()">Go back</button>

            </div>