<div class="container mt-3 pb-4" *ngIf="competition && user">
  <div class="text-center mb-2"><img class="w-25"
                                     [src]="'./assets/svg-country-flags/svg/' +competition.competitionAddress.alpha2Code.toLowerCase()+'.svg'">
  </div>

  <h1 class="text-center">{{competition?.name}}</h1>
  <h2 class="text-center">Will start at {{competition?.dateOfCompetition | date}}</h2>
  <mat-card class="my-2">
    <mat-card-header>About</mat-card-header>
    <mat-card-content>
      <p class="text-center">{{competition?.about}}</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="my-2">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p-table #dt [value]="competition._embedded.userCompetitions" styleClass="p-datatable" [rowHover]="true"
               [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
               [filterDelay]="0" [globalFilterFields]="['user.firstName','user.lastName',
                'category.ageUnder','category.weightUnder','category.sex.name','user.belt']">
        <ng-template pTemplate="caption">
          <div class="table-header">
            List of competitors
            <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter (input)="dt.filterGlobal(filter.value, 'contains')"
                                   placeholder="Global Search"/>
                        </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="user.firstName">First Name
              <p-sortIcon field="user.firstName">
              </p-sortIcon>
            </th>
            <th pSortableColumn="user.lastName">Last Name
              <p-sortIcon field="user.lastName">
              </p-sortIcon>
            </th>
            <th pSortableColumn="category.ageUnder">Age
              <p-sortIcon field="category.ageUnder">
              </p-sortIcon>
            </th>
            <th pSortableColumn="category.weightUnder">Weight
              <p-sortIcon field="category.weightUnder">
              </p-sortIcon>
            </th>
            <th pSortableColumn="category.sex.name">Sex
              <p-sortIcon field="category.sex.name">
              </p-sortIcon>
            </th>
            <th pSortableColumn="placed">Place
              <p-sortIcon field="placed">
              </p-sortIcon>
            </th>
            <th pSortableColumn="user.belt">Belt
              <p-sortIcon field="user.belt">
              </p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-comp>
          <tr (click)="showDialog(comp)">
            <td>{{comp.user.firstName}}</td>
            <td>{{comp.user.lastName}}</td>
            <td>{{comp.category.ageUnder}}</td>
            <td>{{comp.category.weightUnder}}</td>
            <td>{{comp.category.sex.name}}</td>
            <td>{{comp.placed}}</td>
            <td>{{comp.user.belt}}</td>

          </tr>
        </ng-template>
      </p-table>
    </mat-card-content>
    <mat-card-actions>
            <span class="p-buttonset">
                <p-button label="Finish competition" (click)="finishCompetition()"></p-button>
                <p-button label="Sign up for competition" (click)="registerForCompetition()" *ngIf="!isSignedUp">
                </p-button>
                <p-button label="Unregister from competition" (click)="unregisterFromCompetition()" *ngIf="isSignedUp">
                </p-button>
               <p-button label="Sign members of my club for competition" (click)="signUpMembers()"
                                        *ngIf="user.ownedClub">
                </p-button>
            </span>

    </mat-card-actions>
  </mat-card>

  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

</div>
