<section class="jumbotron text-center pt-5">
  <div class="container">
    <div *ngIf="!filterDisplayed"><h1 class="jumbotron-heading">Clubs</h1>
      <p class="lead text-muted">List of clubs. You can see worlds best clubs, their score, competitors and register for
        your club.</p>
      <p>
        <button color="primary" mat-flat-button class="my-2 mx-1"
                (click)="router.navigateByUrl('/create-club')">Create your club
        </button>
        <button mat-flat-button class="my-2 mx-1" (click)="filterDisplayed = true">Filter clubs</button>
      </p>
    </div>
    <div *ngIf="filterDisplayed">
      <h1 class="jumbotron-heading">Filter clubs</h1>
      <mat-select-country (onCountrySelected)="onCountrySelected($event)" class="mx-1" appearance="outline"></mat-select-country>
      <mat-form-field  appearance="outline">
        <input name="filtername" [(ngModel)]="filterName" placeholder="Club name" class="mx-1" matInput/>
      </mat-form-field>
      <button mat-flat-button color="primary" class="my-2 mx-1" (click)="searchClubs()">Find</button>

      <button mat-flat-button class="my-2 mx-1" (click)="turnOffFilter()">Turn off filter</button>
    </div>
  </div>
</section>

<div class="album py-5" *ngIf="clubsSortByActivity && clubsSortByMembers && clubsSortBySuccess">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <h2>Most members</h2>
        <mat-card (click)="openDetails(club.id)" *ngFor="let club of clubsSortByMembers" class="mb-2 grow">
          <mat-card-header>
            <div mat-card-avatar><img
              [src]="'./assets/svg-country-flags/svg/' + club.clubAddress.alpha2Code.toLowerCase() + '.svg'"/>
            </div>
            <mat-card-title>{{club.name}}</mat-card-title>
            <mat-card-subtitle>{{club.clubAddress.state + ', ' + club.clubAddress.city}}</mat-card-subtitle>

          </mat-card-header>
          <mat-card-content>
            <p>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4 text-center">
        <h2>Most successful</h2>
        <mat-card (click)="openDetails(club.id)" *ngFor="let club of clubsSortBySuccess" class="mb-2 grow">
          <mat-card-header>
            <div mat-card-avatar><img
              [src]="'./assets/svg-country-flags/svg/' + club.clubAddress.alpha2Code.toLowerCase() + '.svg'"/>
            </div>
            <mat-card-title>{{club.name}}</mat-card-title>
            <mat-card-subtitle>{{club.clubAddress.state + ', ' + club.clubAddress.city}}</mat-card-subtitle>

          </mat-card-header>
          <mat-card-content>
            <p>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4 text-center">
        <h2>Most active</h2>
        <mat-card (click)="openDetails(club.id)" *ngFor="let club of clubsSortByActivity" class="mb-2 grow">
          <mat-card-header>
            <div mat-card-avatar><img
              [src]="'./assets/svg-country-flags/svg/' + club.clubAddress.alpha2Code.toLowerCase() + '.svg'"/>
            </div>
            <mat-card-title>{{club.name}}</mat-card-title>
            <mat-card-subtitle>{{club.clubAddress.state + ', '+club.clubAddress.city}}</mat-card-subtitle>

          </mat-card-header>
          <mat-card-content>
            <p>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>
</div>
<div class="album py-5" *ngIf="filteredClubs">
  <div class="container">
    <div class="row">
      <div *ngFor="let club of filteredClubs" class="col-md-4">
        <mat-card (click)="openDetails(club.id)" class="mb-2 grow">
          <mat-card-header>
            <div mat-card-avatar><img
              [src]="'./assets/svg-country-flags/svg/' + club.clubAddress.alpha2Code.toLowerCase() + '.svg'"/>
            </div>
            <mat-card-title>{{club.name}}</mat-card-title>
            <mat-card-subtitle>{{club.clubAddress.state + ', '+club.clubAddress.city}}</mat-card-subtitle>

          </mat-card-header>
          <mat-card-content>
            <p>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>
</div>

<div class="text-center" *ngIf="!((clubsSortByActivity && clubsSortByMembers && clubsSortBySuccess) || filteredClubs)">
  <p-progressSpinner>
  </p-progressSpinner>
</div>
