<div class="container mt-3 pb-4" *ngIf="club">
    <div class="text-center mb-2"><img class="w-25"
            [src]="'./assets/svg-country-flags/svg/' +club.clubAddress.alpha2Code.toLowerCase()+'.svg'">
    </div>

    <h1 class="text-center">{{club?.name}}</h1>
    <h3 class="text-center">{{club?.about}}</h3>

    <mat-card class="my-2">
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p-table #dt [value]="club._embedded.members" styleClass="p-datatable" [rowHover]="true" [rows]="10"
                [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true" [filterDelay]="0"
                [globalFilterFields]="['firstName','lastName',
                'category.ageUnder','category.weightUnder','category.sex.name','belt']">
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        List of members
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter (input)="dt.filterGlobal(filter.value, 'contains')"
                                placeholder="Global Search" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="firstName">First Name <p-sortIcon field="firstName">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="lastName">Last Name <p-sortIcon field="lastName">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="category.ageUnder">Age<p-sortIcon field="category.ageUnder">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="category.weightUnder">Weight<p-sortIcon field="category.weightUnder">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="category.sex.name">Sex<p-sortIcon field="category.sex.name">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="belt">Belt<p-sortIcon field="belt">
                            </p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-member>
                    <tr>
                        <td>{{member.firstName}}</td>
                        <td>{{member.lastName}}</td>
                        <td>{{member.category.ageUnder}}</td>
                        <td>{{member.category.weightUnder}}</td>
                        <td>{{member.category.sex.name}}</td>
                        <td>{{member.belt}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </mat-card-content>
        <mat-card-actions>
            <span class="p-buttonset">

                <p-button label="Edit club" *ngIf="isOwner" (click)="editClub()"></p-button>
                <p-button label="Sign up for club" *ngIf="!isMember" (click)="signUpForClub()"></p-button>
                <p-button label="Leave club" *ngIf="isMember" (click)="leaveClub()"></p-button>
            </span>
        </mat-card-actions>
    </mat-card>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

</div>