<div class="container pb-3">
    <main>
        <div class="py-5 text-center">
            <mat-icon class="text-white">add</mat-icon>
            <h2>Create club</h2>
            <p class="lead">Please provide us with more details.</p>
        </div>

        <div class="row g-5">
            <div class="col">
                <form>
                    <div class="w-100">
                        <mat-form-field appearance="outline" class="w-100 px-1">
                            <mat-label>Name</mat-label>
                            <input name="name" [(ngModel)]="club.name" matInput placeholder="Club name" required>
                        </mat-form-field>
                    </div>
                    <div class="w-100">
                        <mat-form-field appearance="outline" class="w-100 px-1">
                            <mat-label>About</mat-label>
                            <input name="description" [(ngModel)]="club.about" matInput placeholder="Write about club">
                        </mat-form-field>
                    </div>
                    <h4 class="mb-3">Contact</h4>
                    <div class="w-100">
                        <mat-form-field appearance="outline" class="w-50 px-1">
                            <mat-label>E-mail</mat-label>
                            <input name="mail" [(ngModel)]="club.mail" matInput placeholder="Club E-mail">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-50 px-1">
                            <mat-label>Phone</mat-label>
                            <input name="phone" [(ngModel)]="club.phone" matInput placeholder="Club phone number">
                        </mat-form-field>
                    </div>
                    <h4 class="mb-3">Adress</h4>
                    <div class="w-100 ">
                        <mat-select-country class=" px-1 spread-items" appearance="outline" label="Country"
                            [formControl]="countryFormControl" (onCountrySelected)="onCountrySelected($event)">
                        </mat-select-country>
                        <mat-form-field appearance="outline" class=" px-1 spread-items">
                            <mat-label>City</mat-label>
                            <input name="city" [(ngModel)]="club.clubAddress.city" matInput placeholder="City" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class=" px-1 spread-items">
                            <mat-label>Postal code</mat-label>
                            <input name="postalCode" [(ngModel)]="club.clubAddress.zipCode" matInput
                                placeholder="Postal code" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class=" px-1 spread-items">
                            <mat-label>Street</mat-label>
                            <input name="street" [(ngModel)]="club.clubAddress.street" matInput placeholder="Street"
                                required>
                        </mat-form-field>
                    </div>
                </form>
                <div style="display: inline;" matTooltip='Can not save! You already own a club.'
                    [matTooltipDisabled]="!alreadyOwnsClub">
                    <button [disabled]="alreadyOwnsClub" mat-flat-button color="primary" class="mx-1"
                        (click)="createClub()">Save</button>
                </div>
                <button mat-flat-button class="mx-1" (click)="location.back()">Go back</button>

            </div>