<div class="container mt-3 pb-4" *ngIf="userInfo">
  <div class="text-center mb-2"><img class="w-25"
                                     [src]="'./assets/svg-country-flags/svg/'
   +userInfo.userAddress.alpha2Code.toLowerCase()+'.svg'">
  </div>

  <h1 class="text-center">{{userInfo?.firstName}} {{userInfo?.lastName}}</h1>
  <h2 class="text-center">{{userInfo?.userAddress?.state}}, {{userInfo?.userAddress?.city}}
    , {{userInfo?.userAddress?.street}}</h2>
  <h3 class="text-center">{{userInfo?.email}}</h3>
  <p-card class="my-2"
          header="
      Your info">

    <div class="list-group">
      <div class="list-group-item text-center bg-dark text-white">
        <div class="d-flex w-100 justify-content-between">
          <h2 class="mb-1">Category</h2>
        </div>
        <div class="row">
          <div class="col">
            <fa-icon [icon]="faWeight"></fa-icon>
            <h2>-{{userInfo?.category?.weightUnder}}Kg</h2>
          </div>
          <div class="col">
            <fa-icon [icon]="faVenusMars"></fa-icon>
            <h2>{{userInfo?.category?.sex?.name}}</h2>
          </div>
          <div class="col">
            <fa-icon [icon]="faHourGlass"></fa-icon>
            <h2>Under {{userInfo?.category?.ageUnder}} years</h2>
          </div>
        </div>
      </div>
      <div class="list-group-item bg-dark text-white">
        <div class="d-flex w-100 justify-content-between">
          <h2 class="mb-1">Skills</h2>
        </div>
        <div class="position-relative" style="overflow-x: auto">
          <table class="table table-dark table-borderless">
            <tbody>
            <tr>
              <th scope="row" class="w-40">
                <h3>Belt:</h3>
              </th>
              <td>
                <h3>{{ userInfo?.belt }}</h3>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <h3>Competitions:</h3>
              </th>
              <td>
                <h3>{{ userInfo?.userCompetitions?.length }}</h3>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <ng-template pTemplate="footer">
      <button mat-flat-button color="primary">Edit info</button>
    </ng-template>
  </p-card>
  <p-card class="my-2" *ngIf="userInfo && userInfo.club"
          header="
      Your club">

    <div class="list-group">
      <div class="list-group-item text-center bg-dark text-white">
        <div class="d-flex w-100 justify-content-between">
          <h2 class="mb-1">Name</h2>
        </div>
        <h2 class="text-center">
          {{userInfo?.club?.name}}
        </h2>
      </div>
      <div class="list-group-item text-center bg-dark text-white">
        <div class="d-flex w-100 justify-content-between">
          <h2 class="mb-1">About</h2>
        </div>
        <h3 class="text-center">
          {{userInfo?.club?.about}}
        </h3>
      </div>
      <div class="list-group-item text-center bg-dark text-white">
        <div class="d-flex w-100 justify-content-between">
          <h2 class="mb-1">Members</h2>
        </div>
        <h3 class="text-center">
          Your club has {{userInfo?.club?.numberOfMembers}} member/s.
        </h3>
      </div>
    </div>

    <ng-template pTemplate="footer">
      <button mat-flat-button color="primary">Show info</button>
    </ng-template>
  </p-card>
  <p-card class="my-2" *ngIf="userInfo && userInfo.ownedClub"
          header="
      Your owned club">
    <div class="list-group">
      <div class="list-group-item text-center bg-dark text-white">
        <div class="d-flex w-100 justify-content-between">
          <h2 class="mb-1">Name</h2>
        </div>
        <h2 class="text-center">
          {{userInfo?.ownedClub?.name}}
        </h2>
      </div>
      <div class="list-group-item text-center bg-dark text-white">
        <div class="d-flex w-100 justify-content-between">
          <h2 class="mb-1">About</h2>
        </div>
        <h3 class="text-center">
          {{userInfo?.ownedClub?.about}}
        </h3>
      </div>
      <div class="list-group-item text-center bg-dark text-white">
        <div class="d-flex w-100 justify-content-between">
          <h2 class="mb-1">Members</h2>
        </div>
        <h3 class="text-center">
          Your club has {{userInfo?.ownedClub?.numberOfMembers}} member/s.
        </h3>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <button mat-flat-button color="primary">Show info</button>
    </ng-template>
  </p-card>
  <p-card class="my-2" *ngIf="userInfo && userInfo.userCompetitions.length>0"
          header="
      Your competitions">
    <p-orderList [value]="userInfo.userCompetitions" [listStyle]="{'height':'auto'}" header="">
      <ng-template let-uc pTemplate="item">
        <div class="product-item ">
          <div class="product-list-detail">
            <h3 class="p-mb-2">{{uc.competition.name}}</h3>
            <i class="pi pi-star product-category-icon"></i>
            <span class="product-category">Placed {{uc.placed}}. in category {{uc.category.sex.name}}
              under {{uc.category.ageUnder}}yrs, and {{uc.category.weightUnder}}kgs</span>
          </div>
          <div class="product-list-action">
            <span class="p-mb-2">{{uc.competition.dateOfCompetition| date}}</span>
          </div>
        </div>
      </ng-template>
    </p-orderList>

    <ng-template pTemplate="footer">
    </ng-template>
  </p-card>
  <p-card *ngIf="userInfo && userInfo.organizedCompetitions.length>0" class="my-2"
          header="
      Your organized competitions">
    <p-orderList [value]="userInfo?.organizedCompetitions" [listStyle]="{'height':'auto'}" header="">
      <ng-template let-competition pTemplate="item">
        <div class="product-item ">
          <div class="product-list-detail">
            <h3 class="p-mb-2">{{competition.name}}</h3>
            <i class="pi pi-calendar product-category-icon"></i>
            <span class="product-category">{{competition.dateOfCompetition | date}}</span>
          </div>
          <div class="product-list-action">
            <span class="p-mb-2">{{competition.numberOfMembers}} signed up members.</span>
          </div>
        </div>
      </ng-template>
    </p-orderList>

    <ng-template pTemplate="footer">
    </ng-template>
  </p-card>


</div>
