<div class="container" *ngIf="!isLoading">
    <main>
        <div class="py-5 text-center">
            <mat-icon class="text-white">manage_accounts</mat-icon>
            <h2>Finish registration</h2>
            <p class="lead">Please provide us with more details.</p>
        </div>

        <div class="row g-5">
            <div class="col">
                <h4 class="mb-3">User details</h4>
                <form>
                  <div class="p-grid p-formgrid p-fluid">
                    <div class="p-col-12">
                      <div class="p-inputgroup">
                        <input name="firstName" [(ngModel)]="user.firstName" pInputText placeholder="First name"
                               required>                      </div>
                    </div>

                    <div class="p-col-12 ">
                      <div class="p-inputgroup">
                        <input name="lasttName" [(ngModel)]="user.lastName" pInputText placeholder="Last name"
                               required>
                      </div>
                    </div>
                    <div class="p-col-12 ">
                    <p-dropdown name="belt" [(ngModel)]="user.belt" [options]="belts"
                    ></p-dropdown>
                    </div>
                  </div>
                    <h4 class="mb-3">Sport details</h4>
                    <div class="w-100">
                        <mat-form-field appearance="outline" class="w-50 px-1">
                            <mat-label>Belt</mat-label>
                            <mat-select name="belt" [(ngModel)]="user.belt" required>
                                <mat-option *ngFor="let belt of belts" [value]="belt">
                                    {{belt}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-50 px-1" *ngIf="categories">
                            <mat-label>Category</mat-label>
                            <mat-select name="category" [(ngModel)]="user.category" required>
                                <mat-option *ngFor="let category of categories" [value]="category._links.self.href">
                                    {{'Sex: '+category.sex.name+' Age: -'+category.ageUnder+' Weight: -'+
                                    category.weightUnder+'Kgs '}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="w-100">
                        <mat-form-field appearance="outline" class="w-100 px-1" *ngIf="clubs">
                            <mat-label>Club</mat-label>
                            <mat-select name="club" [(ngModel)]="user.club">
                                <mat-option [value]="null">
                                    --No club--
                                </mat-option>
                                <mat-option *ngFor="let club of clubs" [value]="club._links.self.href">
                                    {{club.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <h4 class="mb-3">Adress</h4>
                        <mat-select-country class=" px-1 spread-items" appearance="outline" label="Country"
                            [formControl]="countryFormControl" (onCountrySelected)="onCountrySelected($event)">
                        </mat-select-country>
                  <div class="p-grid p-fluid">
                    <div class="p-col-12 p-md-4">
                      <div class="p-inputgroup">
                        <input name="city" [(ngModel)]="user.userAddress.city" pInputText placeholder="City" required>
                      </div>
                    </div>

                    <div class="p-col-12 p-md-4">
                      <div class="p-inputgroup">
                        <input name="postalCode" [(ngModel)]="user.userAddress.zipCode" pInputText  placeholder="Postal code" required>
                        <span class="p-inputgroup-addon">.00</span>
                      </div>
                    </div>

                    <div class="p-col-12 p-md-4">
                      <div class="p-inputgroup">
                        <input name="street" [(ngModel)]="user.userAddress.street" pInputText placeholder="Street" required>
                      </div>
                    </div>
                  </div>
                </form>
                <button mat-flat-button color="primary" class="mx-1" (click)="finishRegistration()">Save</button>
                <button mat-flat-button class="mx-1" (click)="saveUserWithoutDetails()">Skip</button>

            </div>
            <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
