<section class="jumbotron text-center pt-5">
  <div class="container">
    <div *ngIf="!filterDisplayed"><h1 class="jumbotron-heading">Competitions</h1>
      <p class="lead text-muted">List of competitions from all over the world. You can open competition details, filter
        and register for any competition.</p>
      <p>
        <button color="primary" mat-flat-button class="my-2 mx-1"
                (click)="router.navigateByUrl('/create-competition')">Organize competition
        </button>
        <button mat-flat-button class="my-2 mx-1" (click)="filterDisplayed = true">Filter competitions</button>
      </p>
    </div>
    <div *ngIf="filterDisplayed">
      <h1 class="jumbotron-heading">Filter competitions</h1>
      <mat-select-country (onCountrySelected)="onCountrySelected($event)" class="mx-1" appearance="outline"></mat-select-country>
      <mat-form-field  appearance="outline">
        <input name="filtername" [(ngModel)]="filterName" placeholder="Competition name" class="mx-1" matInput/>
      </mat-form-field>
      <div class="p-field-checkbox">
      <p-checkbox [(ngModel)]="filterFinished" [binary]="true" inputId="chB"></p-checkbox>
        <label style="padding-left: 5px" for="chB"> Is finished: {{filterFinished}}</label>
      </div>
      <button mat-flat-button color="primary" class="my-2 mx-1" (click)="searchCompetitions()">Find</button>

      <button mat-flat-button class="my-2 mx-1" (click)="turnOffFilter()">Turn off filter</button>
    </div>

  </div>
</section>

<div class="album py-5 "
     *ngIf="(competitionsSortByLatestPrevious && competitionsSortByMembers && competitionsSortByUpcoming&& filteredCompetitions.length===0)">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <h2>Most members</h2>
        <mat-card (click)="openDetails(competition.id)" *ngFor="let competition of competitionsSortByMembers"
                  class="mb-2 grow">
          <mat-card-header>
            <div mat-card-avatar><img
              [src]="'./assets/svg-country-flags/svg/' + competition.competitionAddress.alpha2Code.toLowerCase() + '.svg'"/>
            </div>
            <mat-card-title>{{competition.name}}</mat-card-title>
            <mat-card-subtitle>
              {{competition.competitionAddress.state + ',' + competition.competitionAddress.city}}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{this.competition.numberOfMembers}} signed up competitors.
            </p>
            <small>{{this.competition.dateOfCompetition|date}}</small>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4 text-center">
        <h2>Latest</h2>
        <mat-card (click)="openDetails(competition.id)"
                  *ngFor="let competition of competitionsSortByLatestPrevious" class="mb-2 grow">
          <mat-card-header>
            <div mat-card-avatar><img
              [src]="'./assets/svg-country-flags/svg/' + competition.competitionAddress.alpha2Code.toLowerCase() + '.svg'"/>
            </div>
            <mat-card-title>{{competition.name}}</mat-card-title>
            <mat-card-subtitle>{{competition.competitionAddress.state + ',
              '+competition.competitionAddress.city}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{this.competition.numberOfMembers}} signed up competitors.
            </p>
            <small>{{this.competition.dateOfCompetition|date}}</small>

          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4 text-center">
        <h2>Upcoming</h2>
        <mat-card (click)="openDetails(competition.id)" *ngFor="let competition of competitionsSortByUpcoming"
                  class="mb-2 grow">
          <mat-card-header>
            <div mat-card-avatar><img
              [src]="'./assets/svg-country-flags/svg/' + competition.competitionAddress.alpha2Code.toLowerCase() + '.svg'"/>
            </div>
            <mat-card-title>{{competition.name}}</mat-card-title>
            <mat-card-subtitle>{{competition.competitionAddress.state + ',
              '+competition.competitionAddress.city}}</mat-card-subtitle>

          </mat-card-header>
          <mat-card-content>
            <p>
              {{this.competition.numberOfMembers}} signed up competitors.
            </p>
            <small>{{this.competition.dateOfCompetition|date}}</small>

          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>
</div>
<div class="album py-5" *ngIf="filteredCompetitions">
  <div class="container">
    <div class="row">
      <div *ngFor="let competiton of filteredCompetitions" class="col-md-4">
        <mat-card (click)="openDetails(competiton.id)" class="mb-2 grow">
          <mat-card-header>
            <div mat-card-avatar><img
              [src]="'./assets/svg-country-flags/svg/' + competiton.competitionAddress.alpha2Code.toLowerCase() + '.svg'"/>
            </div>
            <mat-card-title>{{competiton.name}}</mat-card-title>
            <mat-card-subtitle>{{competiton.competitionAddress.state + ', '+competiton.competitionAddress.city}}</mat-card-subtitle>

          </mat-card-header>
          <mat-card-content>
            <p>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>
</div>

<div class="text-center">
  <p-progressSpinner
    *ngIf="!(competitionsSortByLatestPrevious && competitionsSortByMembers && competitionsSortByUpcoming)">
  </p-progressSpinner>
</div>
