<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <a class="navbar-brand text-white" href="/home">Competition portal</a>
    </ng-template>
    <ng-template pTemplate="end">
        <span class="p-buttonset">
            <button pButton pRipple type="button" class="p-button-outlined p-m-1" label="Profile" icon="pi pi-info"
                [routerLink]="['/profile']" *ngIf="!!userDetails"></button>
            <button pButton pRipple type="button" class="p-button-outlined p-m-1 p-button-secondary" label="Logout" icon="pi pi-sign-out"
                (click)="logOut()" *ngIf="!!userDetails"></button>
            <button pButton pRipple type="button" class="p-button-outlined p-m-1 " label="Log in" icon="pi pi-sign-in"
                (click)="logIn()" *ngIf="!userDetails"></button>
        </span>
    </ng-template>

</p-menubar>
