<h3>Edit category and result of {{config.data.user.firstName+' '+config.data.user.lastName}} </h3>
<div class="p-field p-fluid p-md-2">

    <p-dropdown class="p-row" [options]="[1,2,3,4,5]" [(ngModel)]="selectedPlace" [showTransitionOptions]="'0ms'"
        [hideTransitionOptions]="'0ms'" placeholder="Select place"></p-dropdown>
</div>
<div class="p-field p-fluid p-md-2">


    <p-dropdown *ngIf="selectedCategory && categories" class="p-row" [options]="categories"
        [(ngModel)]="selectedCategory" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"
        placeholder="Select category">
        <ng-template pTemplate="selectedItem">
            <div *ngIf="selectedCategory">
                <div class="row">
                    <div class="col">
                        <fa-icon [icon]="faWeight"></fa-icon>
                        <p>-{{selectedCategory.weightUnder}}</p>
                    </div>
                    <div class="col">
                        <fa-icon [icon]="faVenusMars"></fa-icon>
                        <p>{{selectedCategory.sex?.name}}</p>
                    </div>
                    <div class="col">
                        <fa-icon [icon]="faHourGlass"></fa-icon>
                        <p>-{{selectedCategory.ageUnder}} </p>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template let-category pTemplate="item">
            <div>
                <div class="row">
                    <div class="col">
                        <fa-icon [icon]="faWeight"></fa-icon>
                        <p>-{{category?.weightUnder}}</p>
                    </div>
                    <div class="col">
                        <fa-icon [icon]="faVenusMars"></fa-icon>
                        <p>{{category?.sex?.name}}</p>
                    </div>
                    <div class="col">
                        <fa-icon [icon]="faHourGlass"></fa-icon>
                        <p>-{{category?.ageUnder}}</p>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dropdown>
</div>
<p-button label="Save" (onClick)="save()"></p-button>